
/* your css here */
body {
	background-color: #f5f4ef;
	font-size: 100%;
	border-top: 3px solid #7dc2ca;
	color: #878782;
}

.wrapper {
	width: 850px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 10px 10px #AAA;
	-moz-box-shadow: 0px 10px 10px #AAA;
	-o-box-shadow: 0px 10px 10px #AAA;
	-ms-box-shadow: 0px 10px 10px #AAA;
	box-shadow: 0px 10px 10px #AAA;
}

